html
	head
		include ../main
		link(rel="stylesheet" href="/css/admin/main.css")

	body
		.modal-overlay
		.notification
			.icon
			p.message
		.nav
			.nav-content
				.top-content
					.logo-container
						.logo
						h1.title KoiStream
					.nav-links
						a.link-wrap(href="/admin/current-stream")
							.icon(style="background-image:url(/img/admin/nav/current-stream.svg); width: 18px; height: 18px;")
							p(style="margin-top: -1px;") Current Stream
						a.link-wrap(href="/admin/chat")
							.icon(style="background-image:url(/img/admin/nav/chat-moderation.svg); width: 18px; height: 18px; margin-top: 2px;")
							p Chat Moderation
						a.link-wrap(href="/admin/viewers")
							.icon(style="background-image:url(/img/admin/nav/viewers.svg); width: 20px; height: 20px;")
							p Viewers
						a.link-wrap(href="/admin/logs")
							.icon(style="background-image:url(/img/admin/nav/logs.svg); width: 20px; height: 20px;")
							p Logs
						a.link-wrap(href="/admin/errors")
							.icon(style="background-image:url(/img/admin/nav/errors.svg); width: 20px; height: 20px;")
							p Errors
						a.link-wrap(href="/admin/users")
							.icon(style="background-image:url(/img/admin/nav/users.svg); width: 18px; height: 22px; margin-left: 21px; margin-top: 5px;")
							p Users
						a.link-wrap(href="/admin/AWS")
							.icon(style="background-image:url(/img/cloud.svg); width: 18px; height: 22px; margin-left: 21px; margin-top: 0px;")
							p AWS Controls
				.bottom-content
					a.link-wrap(href="/")
						p Stream Page
					a.link-wrap(href="/auth/logout")
						p Logout
		.page-container
			.page-content
				.menu-btn
					.bar
					.bar
					.bar
				case page
					when 'Current Stream'
						.page-title-flex-container.hidden
							h1.page-title=title
							#stream-action-btn(data-action="start")
								.icon
								p Start Stream
						link(rel='stylesheet', href="/css/admin/current-stream.css")
						include pages/current-stream
					when 'Chat Moderation'
						h1.page-title=title
						link(rel='stylesheet', href="/css/admin/chat-moderation.css")
						include pages/chat-moderation
					when 'Users'
						h1.page-title=title
						link(rel='stylesheet', href="/css/admin/users.css")
						include pages/users
					when 'Profile'
						h1.page-title=title
						link(rel='stylesheet', href="/css/admin/profile.css")
						include pages/profile
					when 'System Errors'
						h1.page-title=title
						link(rel='stylesheet', href="/css/admin/errors.css")
						include pages/errors
					when 'AWS'
						h1.page-title=title
						link(rel='stylesheet', href="/css/admin/AWS.css")
						include pages/AWS
				//- 	when 'Viewers'
				//- 		link(rel='stylesheet', href="/css/admin/viewers.css")
				//- 		include pages/viewers
				//- 		script(src="/js/admin/viewers.js")
					when 'Users'
						link(rel='stylesheet', href="/css/admin/users.css")
						include pages/users
						script(src="/js/admin/users.js")
				//- 	when 'Logs'
				//- 		link(rel='stylesheet', href="/css/admin/logs.css")
				//- 		include pages/logs
				//- 		script(src="/js/admin/logs.js")
				//- 	when 'Error Tracking'
				//- 		link(rel='stylesheet', href="/css/admin/errorTracking.css")
				//- 		include pages/errorTracking
				//- 		script(src="/js/admin/errorTracking.js")

script(src="/js/admin/main.js")
case page
	when 'Current Stream'
		script(src="/js/admin/current-stream.js")
	when 'Chat Moderation'
		script(src="/js/admin/chat-moderation.js")
	when 'Users'
		script(src="/js/admin/users.js")
	when 'Profile'
		script(src="/js/admin/profile.js")
	when 'System Errors'
		script(src="/js/admin/errors.js")
	when 'AWS'
		script(src="/js/admin/AWS.js")